/*html{
  display: flex;
  justify-content:center
}
*/
#leader-container{
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  height:150px;
  width: 100%;
  /*margin: 100px;*/
}

.leader-card{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: 4mm ridge rgba(170, 50, 220, .6);
}

.player-name{
  display: flex;
  margin: 5px 100px;
}